*{
  font-family: 'Raleway',sans-serif;
}
body{
  overflow-x: hidden;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #ef106e #222;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #222;
}
*::-webkit-scrollbar-thumb {
  background-color: #ef106e;
  border-radius: 20px;
  border: 3px solid #222;
}

.text{
  font-size: 32pt;
  line-height: 36pt;
}
.small-text{
  font-size: 14pt;
  line-height: 24pt;
  max-width: 900px;
}
.highlight{
  color: #ef106e;
  font-weight: 600;
}
.home-button{
  padding: 12px 20px ;
  width: 230px;
  border: 2px solid #fff;
  font-size: 16pt;
  background : transparent;
  color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.25s ease-in-out;
}
.home-button:hover{
  background-color: #ef106e;
  border: 2px solid #ef106e;
}
.home-button>i{
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out;
}
.home-button:hover>i{
  transform: rotate(90deg) !important;
}
.h-100{
  height: 100vh !important;
}
.changing-background {
  background-color: #222;
  transition: background-color 0.25s ease-out;
}
.bg-dark{
  background-color: #222 !important;
}
.bg-1{
  background-color: #f38181 !important;
}
.bg-2{
  background-color: #fce38a !important;
}
.bg-3{
  background-color: #eaffd0 !important;
}
.bg-4{
  background-color: #95e1d3 !important;
}
.color-white{
  color: #fff !important;
}
.color-dark{
  color: #222 !important
}
.home{
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.home-content{
  z-index: 999;
  height: max-content;
}
.hide{
  display: none;;
}
.canvas {
  background: url("http://findmatthew.com/style/../img/filler.png") center center/cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}